---
import { Icon } from "astro-icon";
import SideHandle from "../../components/SideHandle.jsx";
import LinktreeDisplay from '../../components/LinktreeDisplay.jsx';
// const linkTrees = [
//     {
//         "title": "Frontend Frameworks",
//         "link": `http://localhost:3000/lt/frontend-frameworks`
//     },
//     {
//         "title": "Team Surveys",
//         "link": `http://localhost:3000/lt/team-surveys`
//     }
// ]
const linkTrees = [
    {
        "title": "Frontend Frameworks",
        "link": `https://bazco.de/lt/frontend-frameworks`
    },
    {
        "title": "Team Surveys",
        "link": `https://bazco.de/lt/team-surveys`
    }
]
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>LinkTrees</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C2WBGMFF5N"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-C2WBGMFF5N");
    </script>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <main
      class="absolute w-full min-h-full bg-gradient-to-b from-cyan-300 to-green-600 text-black flex flex-col items-center"
    >
        <h1 class="text-3xl text-emerald-900">Link Trees</h1>
        <LinktreeDisplay client:only="react" list={ linkTrees } />
    </main>
  </body>
  <SideHandle>
    <a href="login.html">
      <h4 class="text-xl text-grey-900 font-bold py-2">
        <Icon pack="mdi" name="user" height="24px" width="24px" />
      </h4>
    </a>
    <a href="schedule.html">
      <h4 class="text-xl text-grey-900 font-bold py-2">
        <Icon pack="mdi" name="calendar-month" height="24px" width="24px" />
      </h4>
    </a>
    <a href="lt.html">
      <h4 class="text-xl text-grey-900 font-bold py-2">
        <Icon pack="mdi" name="forest" height="24px" width="24px" />
      </h4>
    </a>
    <a href="major-general.html">
      <h4 class="text-xl text-grey-900 font-bold py-2">
        <Icon pack="mdi" name="contract" height="24px" width="24px" />
      </h4>
    </a>
    <a href="major-general-key.html">
      <h4 class="text-xl text-grey-900 font-bold py-2">
        <Icon pack="mdi" name="contract" height="24px" width="24px" />
      </h4>
    </a>
    <a href="how-the-internet-works.html">
      <h4 class="text-xl text-grey-900 font-bold py-2">
        <Icon pack="mdi" name="contract" height="24px" width="24px" />
      </h4>
    </a>
  </SideHandle>
</html>
