---
import CodeMirror from "../components/CodeMirror";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>how the internet works</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  </head>
  <body>
    <main class="absolute w-full min-h-full bg-black text-white">
      <section id="intro" onclick="startSession()">
        <h1>how the internet works.</h1>
        <p>30min writing exercise to summarize how the internet works.</p>
        <p>Timer is not hooked up but will be hidden; [alt+t] to show.</p>
        <p><span class="text-gradient">All systems go;</span> Click the text or [Enter] to start.</p>
      </section>
      <!-- <div id="copyToClipboard">Copy Icon</div> -->
      <CodeMirror client:only="react" />
    </main>
  </body>
  <script type="text/javascript">
    function startSession() {
      const introSection = document.querySelector("#intro");
      // introSection.style.display = 'none'
      introSection.parentNode.removeChild(introSection);
      const CodeMirrorDiv = document.querySelector("#CodeMirror");
      CodeMirrorDiv.style.display = 'block';
      // introSection.parentNode.addChild(CodeMirrorDiv);
      // console.log(document.body.children)
      // console.log(CodeMirrorDiv)
    }
  </script> 
  <!-- <script src="https://unpkg.com/@uiw/react-codemirror@4.19.3/dist/mdeditor.min.js"></script> -->
</html>

<style>
  :root {
    --accent: 42, 119, 149;
    --accent-gradient: linear-gradient(
      90deg,
      rgb(var(--accent)),
      rgb(234 179 8)
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: black;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 32%;
    background-position: 0%;
  }
  #intro:hover + #copyToClipboard{
    display:block;
    color:green;
  }
  #copyToClipboard {
    display: none;
  }
</style>
